* {  
  margin: 0;
}

body {
  margin: 0px;
}

#header {
  border-bottom: 1px solid;
  padding-top: 2vh;
  padding-bottom: 1vh;
}

#header .title {
  margin: 0px;  
  padding-left: 1.5vw;
  max-height: 10rem;  
  font-size: 3vmin; 
}

#header .title a {
  text-decoration: none;
  color: black;
}


#container {
  width: 100%;
  height: 100%;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

