
#side_bar {  
  margin: 0px;
  padding: 0px;
  width: 18%;
  max-width: 200px;
  height: 65vh;
  display: inline-table;
  direction: ltr;
  position: relative;
  border-right: 1px dotted;  

}

.side_menu_title {
  margin: 0px;
  height: 20vmin;
  max-height: 10rem;  
  text-align: center;
  font-size: 3vmin;
}


.menu {
  margin: 0px;
  padding-left: 1vmin;
  display: block;
  height: 4vh;        
  line-height: 3vh;
  font-size: 2.5vmin;
  overflow: hidden;
  color: inherit;  
  text-decoration: none; 
}


.menu:hover {
  background-color:gainsboro;    
}

.post {  
  
  position: relative;    
  margin: 0px;
}

body {
  margin: 0px;  
  overflow: hidden;
  display: flex;
}
